body {
    font-family: $default-font;
    font-display: swap;
    color: $mainColor;
    a {
        color: $mainColor;
    }
}

main {
    min-height: $minHeightMain;
    padding-top: $heightHeader;
    @media(max-width: 768px) {
        padding-top: 111px;
    }
    @media(max-width: 500px) {
        padding-top: 97px;
    }
}

.container {
    max-width: calc(#{$content-width} + 20px);
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    @media(max-width: 500px) {
        padding: 0 20px;
    }
}

.crumbs {
    background-color: transparent;
    &__inner {
        display: flex;
    }
    &__element {
        margin-top: 18px;
        font-size: 12px;
        font-weight: 300;
        color: $mainColor;
        opacity: 0.4;
        margin-right: 6px;
        @media(max-width: 500px) {
            font-size: 10px;
            margin-top: 8px;
        }
        &--current {
            color: $siteColor;
            opacity: 1;
        }
    }
}

.main-title {
    color: #151b24;
    font-size: 20px;
    font-weight: 700;
    @media(max-width: 500px) {
        font-size: 16px;
    }
}

.submain-title {
    width: 320px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
}