$default-font: "Montserrat", sans-serif;
$content-width: 1590px;
$heightHeader: 60px;
$heightFooter: 71px;
$minHeightMain: calc(100vh - (0px + #{$heightFooter}));
$mainColor: #151b24;
$siteColor: #337df6;
$submainColor: #969696;
